{% extends 'start.html' %}

{% block content %}
<br>
<div class="row">
	<div class="col-md-5">
		<a class="btn btn-primary  btn-sm btn-block" href="{% url 'register_page' %}">Usuń turniej</a>
		<hr>
		<div class="card card-body">
			<h5 id="table-h5" title="Top 5">Harmonogram Turniejowy</h5>
			<table class="table table-sm">
				<tr>
					<th>Nazwa</th>
					<th>Data</th>
                    <th>Godzina</th>
					<th>Status</th>
				</tr>
				{% for tournament in tournaments %}
				<tr>
					<td>{{tournament.name}}</td>
					<td>{{tournament.date}}</td>
					<td>{{tournament.time}}</td>
					<td>{{tournament.status}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<a class="btn btn-primary  btn-sm btn-block" href="{% url 'contestcreator_page' %}">Stwórz turniej</a>
		<hr>
		<div class="card card-body">
			<h5 id="table-h5" title="Last 5">Ostatnie turnieje</h5>
			<table class="table table-sm">
				<tr>
					<th>Właściciel</th>
					<th>Nazwa turnieju</th>
					<th>Liczba miejsc</th>
					<th>Liczba uczestników</th>
				</tr>
				{% for tournament in tournaments %}
					<tr>
						<td>{{tournament.player}}</td>
						<td>{{tournament.name}}</td>
						<td>{{tournament.slots}}</td>
						<td>0</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<hr>
{% endblock %}