{% extends 'start.html' %}
{% block content %}
<style>
	.delete{
		text-align: center;
	}

	form{
		margin-bottom: 50px;
	}

	input{
		margin-top: 10px;
	}

</style>
<br>
<div class="delete">
	<h5>Czy na pewno chcesz usunąc turniej: "{{tournament}}"?</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <a href="{% url 'profile_page' %}"><input class="btn btn-info" type="button" value="Nie"></a>
            <input class="btn btn-danger" type="submit" value="Tak">     
</div>
<hr>
{% endblock %}