{% extends 'start.html' %}
{% block content %}
<style>
	.contest-creator{
		text-align: center;
	}

	input{
		margin-top: 10px;
	}
</style>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body" style="text-align: center;">
			<table>
				<tr>
					<th>FAZA I</th>
				</tr>
				{% for game_first in games_first %}
					<tr><td></td></tr>
					<tr>
						<td style="background-color: red;">
							{{game_first.a_player}}
						</td>
					</tr>
					<tr>
						<td>vs</td>
					</tr>
					<tr>
						<td style="background-color: cyan;">
							{{game_first.b_player}}
						</td>
					</tr>
					<tr><td><hr></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body" style="text-align: center;">
			<table>
				<tr>
					<th>FAZA II</th>
				</tr>
				{% for game_second in games_second %}
					<tr><td></td></tr>
					<tr>
						<td style="background-color: red;">
							{{game_second.a_player}}
						</td>
					</tr>
					<tr>
						<td>vs</td>
					</tr>
					<tr>
						<td style="background-color: cyan;">
							{{game_second.b_player}}
						</td>
					</tr>
					<tr><td><hr></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body" style="text-align: center;">
			<table>
				<tr>
					<th>FAZA III</th>
				</tr>
				{% for game_third in games_third %}
					<tr><td></td></tr>
					<tr>
						<td style="background-color: red;">
							{{game_third.a_player}}
						</td>
					</tr>
					<tr>
						<td>vs</td>
					</tr>
					<tr>
						<td style="background-color: cyan;">
							{{game_third.b_player}}
						</td>
					</tr>
					<tr><td><hr></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="card card-body" style="text-align: center;">
			<h5>Generuj następną drabinke</h5>
	        <form method="POST" action="">
		        {% csrf_token %}
                {{form}}
		        <input type="submit" name="Stwórz">
	        </form>
	        {{form.errors}}
		</div>
	</div>
</div>

<hr>

{% endblock %}