<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'start_page' %}">Główna strona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile_page' %}">Profil</a>
      </li>
    </ul>
  </div>
  <span class="hello-msg">Witaj, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout_page' %}">Wyloguj/Zaloguj</a></span>
</nav>

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
}
</style>