{%  extends 'start.html' %}
{% block content %}

<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Twoje dane</h5>
			<hr>
			<p>Email: {{user.email}}</p>
			<p>Data urodzenia: {{player.date}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Liczba twoich turniejów nadchodzących</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{count_arraving}}</h1>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Liczba twoich turniejów</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{count_all}}</h1>
		</div>
	</div>
</div>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'contestcreator_page' %}">Stwórz turniej</a>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Nazwa</th>
                    <th>Założyciel</th>
					<th>Data</th>
					<th>Godzina</th>
					<th>Sloty</th>
					<th>Status</th>
					<th></th>
					<th>Opcje</th>
					<th></th>
				</tr>

				{% for tournament in tournaments %}
				<tr>
					<td>{{tournament.name}}</td>
					<td>{{tournament.player.name}}</td>
					<td>{{tournament.date}}</td>
					<td>{{tournament.time}}</td>
					<td>{{tournament.slots}}</td>
					<td>{{tournament.status}}</td>
					<td><a class="btn btn-sm btn-success" href="{% url 'add_page' tournament.id %}">Zaproś</a></td>
					<td><a class="btn btn-sm btn-info" href="{% url 'contestupdate_page' tournament.id %}">Edytuj</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'contestdelete_page' tournament.id %}">Usuń</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}