{%  extends 'start.html' %}
{% block content %}

<br>
<div class="row" style="text-align: center;">
	<div class="col-md">
		<div class="card card-body">
			<h5>Wszystkie turnieje</h5>
			<hr>
            <h1 style="padding: 10px">{{count}}</h1>
		</div>
	</div>

    <div class="col-md">
		<div class="card card-body">
			<h5>Turnieje w toku</h5>
			<hr>
			<h1 style="padding: 10px">{{started}}</h1>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Turnieje nadchodzące</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{pending}}</h1>
		</div>
	</div>

</div>

<hr>

<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'register_page' %}">Zarejestruj się</a>
		  </form>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'login_page' %}">Zaloguj się</a>
		  </form>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm" style="text-align: center;">
				<tr>
					<th>Nazwa</th>
                    <th>Założyciel</th>
					<th>Data</th>
					<th>Godzina</th>
					<th>Sloty</th>
					<th>Status</th>
				</tr>

				{% for tournament in tournaments %}
				<tr>
					<td>{{tournament.name}}</td>
					<td>{{tournament.player.name}}</td>
					<td>{{tournament.date}}</td>
					<td>{{tournament.time}}</td>
					<td>0/{{tournament.slots}}</td>
					<td>{{tournament.status}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}